<div class="payment-method" data-bind="css: {'_active': (getCode() == isChecked())}, afterRender: afterRender">

    <div class="payment-method-title field choice">
        <input type="radio" name="payment[method]" class="radio" data-bind="attr: {'id': getCode()}, value: getCode(), 
                checked: isChecked, 
                click: selectPaymentMethod, 
                visible: isRadioButtonVisible()" />
        <label data-bind="attr: {'for': getCode()}" class="label">
            <span data-bind="text: getTitle()"></span></label>
    </div>

    <div class="payment-method-content" id="tuna_payment_method_content">

        <label data-bind="attr: {for: 'addressContainer'}" class="label">
            <span>
                <!-- ko i18n: 'Endereço da compra' -->
                <!-- /ko --></span>
        </label>
        <div id="billingAddress" style="padding-bottom: 10px;">
            <div style="display: flex;flex-wrap: wrap;" id="addressContainer">
                <!-- ko foreach: getPreviousAddresses() -->
                <div data-bind="attr:{id: 'tuna_previous_address_'+$index()}"
                    style="flex: 1;max-width: 30%;margin-right: 3%;margin-bottom: 2%;background: #f5f5f5; padding: 10px;">
                    <p>
                        <input type="radio" name="previousAddress" data-bind="attr:{id: 'tuna_previous_address_radio_'+$index()}" >
                        <span class="previous_address_street" data-bind="text: Street"></span>
                    </p>
                    <p class="previous_address_additional" data-bind="text: City + ',' + State + ',' + Country"></p>
                    <p class="previous_address_postalCode" data-bind="text: PostalCode"></p>
                    <p class="previous_address_phone" data-bind="text: Phone"></p>
                </div>
                <!-- /ko -->
            </div>
            <a id="enableAddressInputLink" data-bind="click: enableBillingAddressFields" style="cursor: pointer;">Usar outro endereço</a>
            <div id="billingAddressFields" style="display: none;">
                <div class="control">
                    <label for="tuna_billing_address_street">Endereço</label>
                    <input class="input-text" type="text" maxlength="300" id="tuna_billing_address_street" />
                </div>
                <div class="control">
                    <label for="tuna_billing_address_city">Cidade</label>
                    <input class="input-text" type="text" maxlength="100" id="tuna_billing_address_city" />
                </div>
                <div class="control">
                    <label for="tuna_billing_address_state">Estado</label>
                    <input class="input-text" type="text" maxlength="50" id="tuna_billing_address_state" />
                </div>
                <div class="control">
                    <label for="tuna_billing_address_country">País</label>
                    <input class="input-text" type="text" maxlength="50" id="tuna_billing_address_country" />
                </div>
                <div class="control">
                    <label for="tuna_billing_address_zip">CEP</label>
                    <input class="input-text" type="text" maxlength="20" id="tuna_billing_address_zip" />
                </div>
                <div class="control">
                    <label for="tuna_billing_address_phone">Telefone</label>
                    <input class="input-text" type="text" maxlength="15" id="tuna_billing_address_phone" />
                </div>
            </div>
        </div>



        <div class="field _required">
            <label data-bind="attr: {for: getCode() + 'number'}" class="label">
                <span>
                    <!-- ko i18n: 'Nome impresso no cartão' -->
                    <!-- /ko --></span>
            </label>

            <div class="control">
                <input class="input-text required" name="payment[credit_card_holder]" type="text" minlength="3"
                    data-validate="{required:true}" required data-bind="attr: {
                        id: 'tuna_credit_card_holder'},
                        enable: true,
                        valueUpdate: 'input'" />
            </div>
            <label id="holderInvalidInfo" style="display: none;">* Esse campo não pode ser vazio</label>
        </div>


        <div class="field _required">
            <label data-bind="attr: {for: 'tuna_credit_card_document'}" class="label">
                <span>
                    <!-- ko i18n: 'CPF ou CNPJ' -->
                    <!-- /ko --></span>
            </label>

            <div class="control">
                <input class="input-text required-entry required" name="payment[credit_card_document]" type="text"
                    maxlength="18" minlength="11" data-validate="{required:true}" required data-bind="attr: {
                        id: 'tuna_credit_card_document'},
                        enable: true,
                        valueUpdate: 'input'" />
            </div>
            <label id="cpfInvalidInfo" style="display: none;">* insira um CPF/CNPJ válido</label>
        </div>

        <div>
            <label class="radio-inline" id="tuna_savedCard_label">
                <input id="tuna_card_radio_saved" type="radio" name="cardRadio" checked>Usar cartão salvo
            </label>
            <label class="radio-inline" id="tuna_newCard_label">
                <input id="tuna_card_radio_new" type="radio" name="cardRadio">Usar novo cartão
            </label>
            <label class="radio-inline" id="tuna_boleto_label">
                <input id="tuna_boleto_radio" type="radio" name="cardRadio">boleto
            </label>
        </div>

        <div id="savedCardDiv">
            <div>
                <!-- ko foreach: getStoredCreditCards() -->
                <p class="radio-inline">
                    <input type="radio" name="storedCard" data-bind="attr: {id: 'tuna_card_'+token},
                            event: {change: $parent.selectStoredCard}">

                    <img data-bind="attr: {src: $parent.getCreditCardFlag(brand), height: '', width: '60' }"
                        class="payment-icon" />
                    <span data-bind="text: maskedNumber"></span>
                    <input class="CcCvv" style="width: 90px; display: none;" type="text" placeholder="CVV" maxlength="4"
                        data-bind="attr: {id: 'tuna_card_cvv_'+token}" />
                </p>
                <!-- /ko -->
                <label id="cvvSavedInvalidInfo" style="display: none;">* O cvv deve ter ao menos 3 caractéres</label>
                <label id="noCreditCardSelected" style="display: none;">* Selecione um cartão como forma de
                    pagamento</label>
            </div>
        </div>

        <div id="newCardDiv" style="display: none;">
            <div class="field _required">
                <label data-bind="attr: {for: getCode() + 'number'}" class="label">
                    <span>
                        <!-- ko i18n: 'Número do cartão' -->
                        <!-- /ko --></span>
                </label>

                <div class="control">
                    <input class="input-text required" placeholder="1234 1234 1234 1234"
                        name="payment[credit_card_number]" type="text" maxlength="19" minlength="16"
                        data-validate="{required:true}" data-bind="attr: {
                            id: 'tuna_credit_card_number',
                            'data-container': getCode() + '_credit_card_number'},
                            enable: true,
                            valueUpdate: 'input'" />
                </div>
                <label id="creditCardInvalidInfo" style="display: none;">* Insira um número de cartão válido</label>
            </div>

            <div class="field date required" data-bind="attr: {id: getCode() + '_cc_type_exp_div'}">
                <label data-bind="attr: {for: getCode() + '_expiration'}" class="label">
                    <span>
                        <!-- ko i18n: 'Data de Validade'-->
                        <!-- /ko --></span>
                </label>
                <div class="control">
                    <div class="fields" style="display: inline-block;">
                        <div class="field" style="float: left;">
                            <div class="control">
                                <select name="payment[cc_exp_month]" class="select select-month" data-bind="attr: {id: 'tuna_credit_card_expiration_month'},
                                            enable: true,
                                            options: getMonthsValues(),
                                            optionsValue: 'value',
                                            optionsText: 'month',
                                            optionsCaption: $t('Mês')">
                                </select>
                            </div>
                        </div>
                        <div class="field" style="float: left;">
                            <div class="control">
                                <select name="payment[cc_exp_year]" class="select select-year" data-bind="attr: {id: 'tuna_credit_card_expiration_year', 'data-container': getCode() + '-cc-year', 'data-validate': JSON.stringify({required:true})},
                                        enable: true,
                                        options: getYearsValues(),
                                        optionsValue: 'value',
                                        optionsText: 'year',
                                        optionsCaption: $t('Ano')">
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <label id="validityDateInvalidInfo" style="display: none;">* Insira uma data válida</label>
            </div>

            <div class="field _required">
                <label data-bind="attr: {for: 'tuna_credit_card_code'}" class="label">
                    <span>
                        <!-- ko i18n: 'Código de segurança (CVV)' -->
                        <!-- /ko --></span>
                </label>

                <div class="control">
                    <input class="input-text required-entry required" name="payment[tuna_credit_card_code]"
                        type="number" maxlength="4" minlength="1" required data-validate="{required:true}" data-bind="attr: {
                            id: 'tuna_credit_card_code'},
                            enable: true,
                            valueUpdate: 'input'" />
                </div>
                <label id="cvvInvalidInfo" style="display: none;">* Insira um cvv válido</label>

            </div>
        </div>

        <div id="boletoDiv" style="display: none;">
            <p>Seu pagamento será processado via boleto</p>
        </div>
        <div class="actions-toolbar" style="margin-top: 15px;">
            <div class="primary">
                <button class="action primary checkout" type="submit" data-bind="
                        click: placeOrder,
                        attr: {title: 'Pagar', id: 'placeOrder'}">
                    <span data-bind="text: 'Pagar'"></span>
                </button>
            </div>
        </div>
    </div>
    <div id="badNewsDiv" style="display: none;">
        <h2>Método de pagamento não disponível para as configurações da loja.</2>
    </div>
</div>