<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<payment>
			<tuna>
				<title>Tuna</title>
				<active>1</active>
				<model>Tuna\TunaGateway\Model\Payment\Tuna</model>
				<order_status>tuna_Started</order_status>
				<log_file>var/log/tuna.log</log_file>
			</tuna>
			<credit>
				<title>Cartão de crédito</title>
				<active>1</active>
				<model>Tuna\TunaGateway\Model\Payment\Tuna</model>
				<order_status>tuna_Started</order_status>
				<log_file>var/log/tuna.log</log_file>
			</credit>			
			<boleto>
				<title>Boleto</title>
				<active>1</active>
				<model>Tuna\TunaGateway\Model\Payment\Tuna</model>
				<order_status>tuna_Started</order_status>
				<log_file>var/log/tuna.log</log_file>
			</boleto>
			<crypto>
				<title>Crypto</title>
				<active>1</active>
				<model>Tuna\TunaGateway\Model\Payment\Tuna</model>
				<order_status>tuna_Started</order_status>
				<log_file>var/log/tuna.log</log_file>
			</crypto>
			<pix>
				<title>PIX</title>
				<active>1</active>
				<model>Tuna\TunaGateway\Model\Payment\Tuna</model>
				<order_status>tuna_Started</order_status>
				<log_file>var/log/tuna.log</log_file>
			</pix>
			<link>
				<title>Link</title>
				<active>1</active>
				<model>Tuna\TunaGateway\Model\Payment\Tuna</model>
				<order_status>tuna_Started</order_status>
				<log_file>var/log/tuna.log</log_file>
			</link>
		</payment>
	</default>
</config>